@import "/src/styles/variables/common";
@import "/src/styles/mixins/breakpoints";
@import "/src/styles/animations";

.container {
  border-radius: 15px;
  box-shadow: 0 0 10.5px 0 rgba(0, 0, 0, 0.05);
  background-color: $bg-white;
  overflow: hidden;
}

.scroll {
  // padding: 30px;
  overflow-y: auto;
}

.contentOnly {
  padding: 30px;
}