{
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["./src"]
            }
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react", "import", "@typescript-eslint"],
    "rules": {
        "no-console": "warn",
        "import/first": "error",
        "react/prop-types": 0,
        "linebreak-style": ["error", "unix"],
        "react/display-name": "off"
    }
}